<div class="container-main">

    <div class="all-products">

        <div class="products">

            <div class="item">
                <img class="img_pizza" [src]="'assets/1.png'" alt="">

                <div class="data">
                    <h3>Pizza Italiana</h3>
                    <p>3 Pizzas Grandes en Americana o Pepperoni</p>

                    <div class="button_group">
                        <button class="btn btn-plus" type="button" (click)="increase(0)"><img
                                [src]="'assets/plus.png'"></button>

                        <button class="btn_pay" type="button" (click)="buyPizza(0)">Comprar</button>

                        <button class="btn btn-minus" type="button" (click)="decrease(0)"><img
                                [src]="'assets/minus.png'"></button>
                    </div>

                    <div class="price">
                        <p>Cantidad: {{quantityBuy}}</p>
                        <p>S/.{{counter[0]}}</p>
                    </div>

                </div>


            </div>

            <div class="item">
                <img class="img_pizza" [src]="'assets/2.png'" alt="">
                <div class="data">
                    <h3>Pizza Italiana</h3>
                    <p>3 Pizzas Grandes en Americana o Pepperoni</p>

                    <div class="button_group">
                        <button class="btn btn-plus" type="button" (click)="increase(1)"><img
                                [src]="'assets/plus.png'"></button>

                        <button class="btn_pay" type="button" (click)="buyPizza(1)">Comprar</button>

                        <button class="btn btn-minus" type="button" (click)="decrease(1)"><img
                                [src]="'assets/minus.png'"></button>
                    </div>

                    <div class="price">
                        <p>Cantidad: {{quantityBuy}}</p>
                        <p>S/.{{counter[1]}}</p>
                    </div>
                </div>
            </div>

            <div class="item">
                <img class="img_pizza" [src]="'assets/3.png'" alt="">
                <div class="data">
                    <h3>Pizza Italiana</h3>
                    <p>3 Pizzas Grandes en Americana o Pepperoni</p>

                    <div class="button_group">
                        <button class="btn btn-plus" type="button" (click)="increase(2)"><img
                                [src]="'assets/plus.png'"></button>

                        <button class="btn_pay" type="button" (click)="buyPizza(2)">Comprar</button>

                        <button class="btn btn-minus" type="button" (click)="decrease(2)"><img
                                [src]="'assets/minus.png'"></button>
                    </div>

                    <div class="price">
                        <p>Cantidad: {{quantityBuy}}</p>
                        <p>S/.{{counter[2]}}</p>
                    </div>
                </div>
            </div>

            <div class="item">
                <img class="img_pizza" [src]="'assets/4.png'" alt="">
                <div class="data">
                    <h3>Pizza Italiana</h3>
                    <p>3 Pizzas Grandes en Americana o Pepperoni</p>

                    <div class="button_group">
                        <button class="btn btn-plus" type="button" (click)="increase(3)"><img
                                [src]="'assets/plus.png'"></button>

                        <button class="btn_pay" type="button" (click)="buyPizza(3)">Comprar</button>

                        <button class="btn btn-minus" type="button" (click)="decrease(3)"><img
                                [src]="'assets/minus.png'"></button>
                    </div>

                    <div class="price">
                        <p>Cantidad: {{quantityBuy}}</p>
                        <p>S/.{{counter[3]}}</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="products">

            <div class="item">
                <img class="img_pizza" [src]="'assets/5.png'" alt="">
                <div class="data">
                    <h3>Pizza Italiana</h3>
                    <p>3 Pizzas Grandes en Americana o Pepperoni</p>

                    <div class="button_group">
                        <button class="btn btn-plus" type="button" (click)="increase(4)"><img
                                [src]="'assets/plus.png'"></button>

                        <button class="btn_pay" type="button" (click)="buyPizza(4)">Comprar</button>

                        <button class="btn btn-minus" type="button" (click)="decrease(4)"><img
                                [src]="'assets/minus.png'"></button>
                    </div>

                    <div class="price">
                        <p>Cantidad: {{quantityBuy}}</p>
                        <p>S/.{{counter[4]}}</p>
                    </div>

                </div>
            </div>

            <div class="item">
                <img class="img_pizza" [src]="'assets/6.jpg'" alt="">
                <div class="data">
                    <h3>Pizza Italiana</h3>
                    <p>3 Pizzas Grandes en Americana o Pepperoni</p>

                    <div class="button_group">
                        <button class="btn btn-plus" type="button" (click)="increase(5)"><img
                                [src]="'assets/plus.png'"></button>

                        <button class="btn_pay" type="button" (click)="buyPizza(5)">Comprar</button>

                        <button class="btn btn-minus" type="button" (click)="decrease(5)"><img
                                [src]="'assets/minus.png'"></button>
                    </div>

                    <div class="price">
                        <p>Cantidad: {{quantityBuy}}</p>
                        <p>S/.{{counter[5]}}</p>
                    </div>

                </div>
            </div>

            <div class="item">
                <img class="img_pizza" [src]="'assets/7.jpg'" alt="">
                <div class="data">
                    <h3>Pizza Italiana</h3>
                    <p>3 Pizzas Grandes en Americana o Pepperoni</p>

                    <div class="button_group">
                        <button class="btn btn-plus" type="button" (click)="increase(6)"><img
                                [src]="'assets/plus.png'"></button>

                        <button class="btn_pay" type="button" (click)="buyPizza(6)">Comprar</button>

                        <button class="btn btn-minus" type="button" (click)="decrease(6)"><img
                                [src]="'assets/minus.png'"></button>
                    </div>

                    <div class="price">
                        <p>Cantidad: {{quantityBuy}}</p>
                        <p>S/.{{counter[6]}}</p>
                    </div>

                </div>
            </div>

            <div class="item">
                <img class="img_pizza" [src]="'assets/8.png'" alt="">
                <div class="data">
                    <h3>Pizza Italiana</h3>
                    <p>3 Pizzas Grandes en Americana o Pepperoni</p>

                    <div class="button_group">
                        <button class="btn btn-plus" type="button" (click)="increase(7)"><img
                                [src]="'assets/plus.png'"></button>

                        <button class="btn_pay" type="button" (click)="buyPizza(7)">Comprar</button>

                        <button class="btn btn-minus" type="button" (click)="decrease(7)"><img
                                [src]="'assets/minus.png'"></button>
                    </div>

                    <div class="price">
                        <p>Cantidad: {{quantityBuy}}</p>
                        <p>S/.{{counter[7]}}</p>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <div class="sale">
        <h1>Mi Pedido</h1>

        <div class="content">
            <p></p>
        </div>

        <div class="sale-footer">

            <p class="list-products" *ngFor="let product of purchasedProducts">
                S/.{{ product.precio}}
            </p>

            <h3>Total a Pagar: S/.{{calculateTotal()}}</h3>

            <hr class="line">
            <button class="btn_pay btn-total" (click)="openModal()">Pagar</button>
        </div>

    </div>

    <!--Modal Respuesta -->

    <div id="modalConfirm" role="dialog" [hidden]="!modalVisible">
        <h3>Compra Exitosa</h3>
        <button class="btn_pay btn-total" (click)="closeModal()">Cerrar</button>

    </div>

</div>